In [1]:
#import the libraries
import pandas as pd
import numpy as np

In [2]:
#null values

a1 = pd.Series([101,102,103,np.nan], index=['maths','english','science','physics'])
print(a1)

maths      101.0
english    102.0
science    103.0
physics      NaN
dtype: float64

In [3]:
#checking for null
a1.isnull()

maths      False
english    False
science    False
physics     True
dtype: bool

In [4]:
#droimg null values
a1.dropna()

maths      101.0
english    102.0
science    103.0
dtype: float64

In [5]:
#using in dataframes

a1 = pd.DataFrame(np.random.randn(12).reshape(4,3))
print(a1)

          0         1         2
0 -1.943468 -0.641698 -1.633751
1 -0.727466 -1.703266  0.841922
2  0.263365 -0.313857  1.911222
3  0.282602 -0.979211  1.884825

In [6]:
type(a1)

pandas.core.frame.DataFrame

In [8]:
#seting null values

a1.iloc[1,2]= np.nan
a1.iloc[2,1]= np.nan
a1.iloc[3,]=np.nan

print(a1)

          0         1         2
0 -1.943468 -0.641698 -1.633751
1 -0.727466 -1.703266       NaN
2  0.263365       NaN  1.911222
3       NaN       NaN       NaN

In [9]:
#dropping nan 
a1.dropna() #the disadvantage is it drope the whole column if only one value is null

          0         1         2
0 -1.943468 -0.641698 -1.633751

In [10]:
#using dropna parameters

a1.dropna(how='all')  #only droops if al teh values in a column is null

          0         1         2
0 -1.943468 -0.641698 -1.633751
1 -0.727466 -1.703266       NaN
2  0.263365       NaN  1.911222

In [11]:
#dropna in columns
a1.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]